nav {
  width: 1120px;
  background-color: #ccc;
  margin-bottom: 30px;
}
nav img {
  float: left;
  margin: 13px 60px 13px 80px;
}
ul {
  clear: both;
  display: inline-block;
  text-align: center;
  padding: 40px 0px;
}
li {
  display: inline;
  margin-right: 80px;
}
a {
text-decoration: none;
}
main {
  position: relative;
  margin: 0 80px 0 80px;
}
main img {
  display: block;
  margin-bottom: 30px;
}
article {
  background-color: #ddd;
  display: inline-block;
  width: 300px;
  height: 375px;
  margin-bottom: 30px;
}
 article:first-of-type {
  margin-right: 30px;
}
article:last-of-type {
  margin-left: 30px;
}
div p {
  float: left;
  background-color: #ddd;
  height: 400px;
  width: 480px;
}
main div:first-of-type {
  margin-bottom: 30px;
}
div div {
  margin-left: 30px;
  position: relative;
  width: 460px;
  float: left;
}
div div p {
  background-color: #fff;
  height: 363px;
  display: inline-block;
  max-width: 460px;
  overflow-y: scroll;
  font-style: italic;
}
h3 {
  font-weight: bold;
  width: 460px;
  display: inline-block;
  height: fit-content;
}
button:hover {
  background-color: lightcoral;
  transition: 0.35s;
}
footer {
  clear: both;
  background-color: #ddd;
  height: 96px;
  width: 1120px;
}
/* The following styles from StackOverflow contributor MildWokfie */
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}